html,body{
    font-size: 16px;
    font-family: 'open_sansregular';
    font-weight: 300;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none!important;
}
.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    height: 100%;
    position: relative;
}

/* Logs */

.log_user {
    position: absolute;
    top: 20px;
    right: 0;
}
.logs {
    padding: 2px 10px;
    background-color: #252D5D;
    float: right;
    display: none;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: background-color .5s;
       -moz-transition: background-color .5s;
        -ms-transition: background-color .5s;
         -o-transition: background-color .5s;
            transition: background-color .5s;
}
.logs:hover{
    background-color: #67D6FF;
}
.logs h4 {
    color: #fff;
    font-size: 14px;
    display: inline-block;
}
.logs > span {
    color: #fff;
    padding: 5px;
    position: relative;
    top: 2px;
}

/* Calificación */

.box_content p {
    font-weight: 100;
    color: #252733;
}
.box_content h2 {
    color: #252D5D;
    font-style: italic;
    font-weight: 600;
}
.box_content h3 {
    color: #2A2A2D;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    display: inline-block;
}
.box_content {
    position: relative;
    top: 125px;
    left: 22%;
    right: 0;
    background-color: rgba(255,255,255,0.5);
    width: 65%;
    max-width: 700px;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 0 1px #ABAEBF;
    z-index: 9999;
}
.calification {
    background-image: url('../img/calificacion.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 259px;
    height: 66px;
    position: absolute;
    bottom: -20px;
    right: -28px;
    padding: 15px;
}
.points_stars {
    display: inline-block;
}
.points_stars span {
    cursor: pointer;
}


/* Header */

header {
    background-color: #fff;
    overflow: hidden;
}
header .logo{
    float: left;
    margin-top: 2px;
}
header .logo img {
    width: 75%;
}
header nav {
    float: right;
}
.main_header {
    padding: 10px;
    overflow: hidden;
}
.main_header a:nth-child(4){
    float: right;
    padding-right: 0;
}
.main_header a{
    padding: 0px;
}
a:focus{
    color: #fff;
}
header nav li {
    list-style-type: none;
    border-left: 1px solid #2a3b72;
    border-right: 1px solid #071235;
    padding: 0!important;
}
header nav li span {
    padding-right: 10px;
}
header nav a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    border-top: 5px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #252D5D;
    height: 80px;
    line-height: 80px;
}
header nav a:hover {
    color: #fff;
}
header nav {
    width: 100%;
}
header nav ul {
    padding: 0;
    margin: 0;
}
.logo_box {
    display: table;
    margin: 0 auto;
}
.logo_box > a > img {
    margin: auto;
    display: table;
    width: 100%;
}
.logo_box.one, .logo_box.two {
    margin-top: 25px;
}

/* home Background*/

.home-bg{
    background-image: url(../img/home-slide.jpg);
    background-size: cover;
    overflow: hidden;
    height: 500px;
    position: relative;
}
.home .stick {
    overflow: hidden;
    height: auto;
    background-color: transparent;
}
.home .stick .title_home h2, 
.home .stick .title_home h3 {
    margin: 0;
    padding: 0;
}
.line-radius {
    background-image: url(../img/line-radius.png);
    background-position: 0 0;
    width: 403px;
    height: 6px;
}
section.home-bg nav li a{
    opacity: 0;
    text-align: left;
    font-style: italic;
    color: #252D5D;
    font-weight: 600;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
section.home-bg nav li {
    background: #EFB616;
    margin: 20px 0;
    border-radius: 50px;
    padding: 14px 0;
    position: relative;
    top: 0;
    right: 15px;
    height: 50px;
    width: 0px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
/*section.home-bg nav li.active {
    padding: 14px 15px;
    width: 170px;
}*/
section.home-bg nav li.active a{
    opacity: 1;
}
section.home-bg nav span {
    position: absolute;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #252D5D;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
}
section.home-bg nav span:nth-child(2){
    top: 148px;
}
section.home-bg nav span:nth-child(4){
    top: 216px;
}
section.home-bg nav span:nth-child(6){
    top: 287px;
}
section.home-bg nav span:nth-child(8){
    top: 356px;
}
section.home-bg nav {
    float: right;
    margin-top: 127px;
}

/* Footer */

footer {
    background-color: #efb616;
    padding: 50px 0;
}
.paragraph {
    color: #fff;
    font-size: 14px;
    position: relative;

}
.paragraph h3{
    font-size: 14px;
}
.paragraph span{
    color: #252d5d;
}
.logo_footer {
    padding-top: 90px;
}
.paragraph > span {
    margin-top: 10px;
    display: inline-block;
}
.paragraph span {
    color: #252d5d;
}
.paragraph .line {
    border-bottom: 2px solid white;
    width: 100%;
    max-width: 350px;
    position: absolute;
}
.paragraph .line:nth-child(3) {
    border-bottom: 2px solid #252D5D;
    width: 25%;
}
.paragraph > p:nth-child(4) {
    margin-top: 20px;
}
.social_media {
    margin-top: 20px;
}
.paragraph p, .paragraph span {
    font-size: 12px;
}


/* On - Finanzas */ 

.finanzas {
    background-image: url(../img/bg_finanzas.jpg);
}
.path_header a {
    color: #fff;
    font-style: italic;
}
.path_header {
    background-color: #EFB616;
    padding: 20px 0;
}
.home-bg.finanzas,
.home-bg.vivienda{
    position: relative;
}
.stick {
    background-color: rgba(255,255,255,0.8);
    height: 60px;
    position: absolute;
    width: 100%;
    max-width: 800px;
    top: 10%;
    border-radius: 0 5px 5px 0;
}
.stick .container h2 {
    line-height: 60px;
    margin: 0;
    color: #252D5D;
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
}
.stick h2 span {
    position: relative;
    bottom: 13px;
    font-weight: 100;
    font-style: normal;
}
ul.submenu_left {
    position: absolute;
    top: 25%;
    float: left;
}
ul.submenu_left li a {
    background-color: #252D5D;
    display: block;
    padding: 10px 30px;
    border-bottom: 1px solid #0D7DC2;
    color: #fff;
    transition: background-color 0.5s;
}
ul.submenu_left li a:hover{
    background-color: #67d6ff;
}
ul.submenu_left li a.active{
    background-color: #67d6ff;
}

/* Vivienda */

.vivienda {
    background-image: url(../img/vivienda.jpg);
}
section.home-bg.vivienda .submenu_left li a {
    font-size: 12px;
    padding: 6px 0px 6px 6px;
}
section.home-bg.vivienda .submenu_left {
    top: 25%;
    width: 240px;
}

/* Header arrows */

header nav li a.active:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #0D7DC2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    right: 0;
    margin: auto;
}
header nav li a.active {
    border-top: 5px solid #0D7DC2;
}

/* Go_back */


.go_back {
    width: 60px;
    height: 60px;
    background-color: #67d6ff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 50%;
    float: right;
    clear: right;
    margin-top: 15px;
    cursor: pointer;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
        -ms-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.go_back img {
    display: table;
    margin: auto;
    padding-top: 22px;
}

.go_back .icon-reply {
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    -webkit-transition: background-color .3s;
       -moz-transition: background-color .3s;
        -ms-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
}
.go_back:hover{
    background-color: #EFB616;
}

/* Tabs Content */

.tabs_content{
    display: none;
}
.tabs_content.active{
    display: block;
}

/* home box_content */

section.home .box_content {
    top: 220px;
}

/* Heroes */
.heroes,
.pheroes {
    background-image: url(../img/bg-sky.jpg);
}
.heroes .tabs_content {
    display: block;
}

section.home-bg.heroes .box_content {
    font-size: 0.85em;
    height: 320px;
    padding: 25px 15px 15px 15px;
}
.wood{
    background-image: url(../img/wood.png);
    width: 402px;
    height: 72px;
    background-repeat: no-repeat;
}
.wood h2 {
    font-size: 1.2em!important;
    text-align: center;
    font-weight: 400;
    font-style: normal!important;
}
section.home-bg.heroes .stick {
    background-color: transparent;
}
.planet{
    background-image: url(../img/world.png);
    width: 461px;
    height: 440px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 0%;
    animation-name: planet;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
    z-index: 2;
}
.world2 {
    background-image: url(../img/world2.png);
    width: 481px;
    height: 438px;
    position: relative;
    top: 0px;
    margin: auto;
    background-size: 100%;
}
.wood{
    background-image: url(../img/wood.png);
    width: 402px;
    height: 72px;
    background-repeat: no-repeat;
}
.wood h2 {
    font-size: 1.2em!important;
    text-align: center;
    font-weight: 400;
    font-style: normal!important;
}
.pequenos_heroes {
    background-image: url(../img/Main_text_heroes.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    width: 351px;
    height: 164px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.pheroes .wood {
    background-image: url(../img/wood.png);
    width: 405px;
    height: 72px;
    display: table;
    background-repeat: no-repeat;
    margin: auto;
    background-size: 80%;
    background-position: center;
    position: relative;
    top: -40px;
    z-index: 99999999;
}
.pheroes .calification {
    width: 259px;
    height: 66px;
    bottom: 0;
    right: 0;
    background-size: 85%;
    background-position: 50% -20px;
    padding: 7px 30px 0 35px;
}
.pheroes .calification h3{
    font-size: 1em;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.sman {
    background-image: url(../img/superhonor2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 243px;
    height: 322px;
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: 3;
    animation: sman infinite 0.8s ease-in-out;
}
.worlds{
    width: 461px;
    height: 440px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    z-index: 2;
    animation: worlds infinite 120s linear;
    opacity: 0.5;
}
.world1{
    background-image: url(../img/world.png);
    left: 0;
}
.world3{
    background-image: url(../img/world3.png);
    right: 0;
    width: 462px;
    height: 420px;
}
.nave,
.alien {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: 40%;
    top: 0;
}
.nave{
    background-image: url(../img/nave.png);
    animation: nave infinite 10s linear;
    width: 286px;
    height: 200px;
    left: 0;
    z-index: 1;
}
.alien{
    background-image: url(../img/alien.png);
    animation: alien infinite 1s ease-in-out alternate;
    width: 210px;
    height: 200px;
    right: 0;
}
section.home-bg nav.bar-pheroes {
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    margin:0;
}
section.home-bg nav.bar-pheroes li {
    background: #EFB616;
    margin: 18px 0;
    border-radius: 50px;
    box-shadow: -2px 0px 5px #484848;
    padding: 14px 0;
    position: relative;
    top: 130px;
    right: 15px;
    height: 50px;
    width: 0px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
section.home-bg nav.bar-pheroes li:nth-child(5),
section.home-bg nav.bar-pheroes li:nth-child(7){
    top: 134px;
}
section.home-bg nav.bar-pheroes span {
    position: absolute;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #252D5D;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: -2px 0px 5px #1E1E20;
}
section.home-bg nav.bar-pheroes span:nth-child(2) {
    top: 148px;
}

@keyframes nave {
    0%{
        transform: translate(-250px, 400px) rotate(-20deg);
    }
    50%{
        transform: translate(250px, -300px) rotate(-10deg);
    }
    60%{
        transform: translate(450px, -200px) rotate(65deg);
    }
    100%{
        transform: translate(950px, 500px) rotate(75deg);

    }
}
@keyframes alien {
    0%{
        transform: translate(0px, 15px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}


@keyframes sman {
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(3px);
    }
}
@keyframes worlds {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes planet {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 768px){
    
    .home-bg nav{
        display: none;
        /*position: fixed;*/
    }
    .box_content{
        width: 90%;
        margin: 0 1% 0 1.2%;
        top: 152px;
        left: 1px;
        font-size: 12px;
    }
    .logo_box{
        margin-bottom: 10px;
    }
    .logo_footer {
        padding-top: 0;
    }
    header nav li a.active:after{
        border: none;
    }
    header nav li a{
        border-bottom: 1px solid #2a3b72;
        border-top: 1px solid #071235;
    }
    header nav li a.active {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
    ul.submenu_left{
        left: 3%;
    }
    ul.submenu_left li {
        float: left;
    }
    ul.submenu_left li a{
        border: none;
        padding: 5px 7px;
        margin: 0 2px;
        border-radius: 5px 5px 0 0;
        font-size: 12px;
        border-bottom: none;
    }
    .box_content h2 {
        margin: 0;
        font-size: 20px;
        padding: 5px 0 10px 0;
    }
    .box_content h3{
        font-size: 14px;
    }
    .calification{
        width: 190px;
        right: -21px;
    }

}
@media screen and (min-width: 769px) and (max-width: 990px){
    
    .logo_footer{
        padding-top: 0;
    }
    .box_content {
        top: 152px;
        left: 1px;
        font-size: 12px;
    }
    .box_content h3{
        font-size: 14px;
    }
    ul.submenu_left{
        left: 1%;
    }
    ul.submenu_left li {
        float: left;
    }
    ul.submenu_left li a{
        border: none;
        padding: 5px 7px;
        margin: 0 2px;
        border-radius: 5px 5px 0 0;
        font-size: 12px;
        border-bottom: none;
    }
    .box_content h2 {
        margin: 0;
        font-size: 20px;
        padding: 5px 0 10px 0;
    }
    .calification{
        width: 190px;
        right: -21px;
    }
}
@media screen and (min-width: 991px){
    
    .box_content{
        left: 22%;
    }

}