html,body{
    font-size: 16px;
    font-family: 'open_sansregular';
    font-weight: 300;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none!important;
}
.container {
    max-width: 1200px;
    margin: auto;
    /*overflow: hidden;*/
    height: 100%;
    position: relative;
}
ul.menu-bar-side > li > a {
    line-height: 50px;
    color: #EDADAD;
}
ul.menu-bar-side > li {
    position: absolute;
    background-color: rgba(47,55,58,1);
    margin: 5px 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    right: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul.menu-bar-side > li.open{
    width: 200px;
}
ul.menu-bar-side > li > a {
    line-height: 50px;
    color: #EDADAD;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
ul.menu-bar-side > li > a.show{
    opacity: 1;
}

ul.menu-bar-side > li > span {
    width: 50px;
    height: 50px;
    background: #FF7A7A;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
}