@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?filoth');
    src:    url('icomoon.eot?filoth#iefix') format('embedded-opentype'),
        url('icomoon.ttf?filoth') format('truetype'),
        url('icomoon.woff?filoth') format('woff'),
        url('icomoon.svg?filoth#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
    content: "\e903";
}
.icon-reply:before {
    content: "\e900";
}
.icon-star-outlined:before {
    content: "\e901";
}
.icon-star:before {
    content: "\e902";
}
.icon-v-card:before {
    content: "\e904";
}

